[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/vulkan-headers"]
	path = vendor/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
