[submodule "vendor/zig-clap"]
	path = vendor/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "vendor/vulkan-headers/upstream"]
	path = vendor/vulkan-headers/upstream
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendor/glfw/upstream"]
	path = vendor/glfw/upstream
	url = https://github.com/glfw/glfw.git
[submodule "vendor/spirv-headers/upstream"]
	path = vendor/spirv-headers/upstream
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "vendor/spirv-tools/upstream"]
	path = vendor/spirv-tools/upstream
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "vendor/glslang/upstream"]
	path = vendor/glslang/upstream
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vendor/shaderc/upstream"]
	path = vendor/shaderc/upstream
	url = https://github.com/google/shaderc.git
[submodule "vendor/spirv-reflect/upstream"]
	path = vendor/spirv-reflect/upstream
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "vendor/vulkan-utility-libraries/upstream"]
	path = vendor/vulkan-utility-libraries/upstream
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
[submodule "vendor/zmath"]
	path = vendor/zmath
	url = https://github.com/zig-gamedev/zmath.git
