[submodule "vendor/spirv-headers"]
	path = vendor/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "vendor/spirv-tools"]
	path = vendor/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "vendor/glslang"]
	path = vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/google/shaderc.git
[submodule "vendor/zig-clap"]
	path = vendor/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "vendor/vulkan-headers/upstream"]
	path = vendor/vulkan-headers/upstream
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendor/glfw/upstream"]
	path = vendor/glfw/upstream
	url = https://github.com/glfw/glfw.git
